.post0 {
    display: flex;
    position: relative;
    top: 80px;
    right: 70px;
}

.img-post0 {
    border-radius: 40px;
}

#elbrus {
    color: aqua;
    text-decoration: none;
}

.post1 {
    position: relative;
    top: 230px;
    left: 40px;
    border: 1px solid rgb(83, 36, 252);
    border-radius: 40px;
    font-size: 30px;
    width: 570px;
    background-color: rgb(83, 36, 252);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(250, 248, 248, 0.933);
}

.post2 {
    position: relative;
    top: 350px;
    border: 1px solid rgb(83, 36, 252);
    width: 650px;
    border-radius: 40px;
    font-size: 30px;
    background-color: rgb(83, 36, 252);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(250, 248, 248, 0.933);
}

.mesaga0 {
    position: relative;
    left: 20px;
}

.mesaga1 {
    position: relative;
    left: 13px;
}